 .Labeltext {
    font-size: 25px; 
    font-weight: 500;
    display: block; 
    margin-bottom: 5px; 
    color: #676A79;
  } 
  /*box */
  .uploadPhoto .icon
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uploadPhoto{
    margin-left: 200px;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #4B5563;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    margin-bottom: 24px;
    margin-top: 20px;
    cursor: pointer;
}
.uploadPhoto .icon svg {
    height: 8cap;
    fill: #4B5563;
  }
  .svgcolor {
    fill:#676A79;
  }
  
  .uploadPhoto .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .uploadPhoto .text span {
    font-weight: 400;
    color: #4B5563;
    font-size: 16px;
  }

  .uploadPhoto input {
    display: none;
  }
.image-preview-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
     margin-bottom: 15px;
  }
  
  .image-preview-item img {
    width: 200px; 
    height: 100px; 
    display: block; 
    border-radius: 5px; 
    
  }
  
  .btnRemoveImg {
    position: absolute;
    top:40px; 
    left: 95px;
    right: 5px; 
    background-color: transparent;
    color: #ffff; 
    border: 1px solid #fff;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    font-size: 14px; 
    line-height: 28px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 15px;
    font-weight: 600;
  }
  
  .image-preview-item:hover .btnRemoveImg {
    background-color: transparent;
    border: 1px solid #d6293e;
    color: red; 
  }
  .image-preview-item:hover 
  {
    -webkit-filter: brightness(.5);
   filter: brightness(.5);
  }

  .uploadPhoto:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  
  .uploadPhoto:hover .svgcolor  {
    fill: #7E2553    ; 
  }

  .uploadPhoto:hover  {
    color: #40A2D8; 
  }

  .uploadPhoto:hover .text span {
    font-weight: 600; 
    color: #1D2B53; 
  }
  /*box end */

  /*button */
  .buttonPost
  {
    border: none;
    background-color: #E6F8F3;
    color: #0CBC87;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    transition: background-color 0.3s; 
    font-size: 15px;
    font-weight: 600;
  } 
  .buttonPost:hover
  {
    background-color: #0CBC87;
    color: #FFFFFF;
  }

  .buttonClose:hover
  {
    background-color: #d6293e;
    color: #FFFFFF;
  }



  .error-message {
    color: red; 
    font-size: 14px; 
    margin-top: 5px; 
  }

   .upload-button {
    display: inline-block;
    position: relative;
    padding-left: 30px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }  
  
  .upload-button svg {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    fill: #666; 
    
  }
  
  .upload-button span {
    margin-left: 30px; 
  }
  


  .postBtn
  {
    margin-top: 15px;
  }
 /*button end */

  .dark .Labeltext
  {
    color: rgb(247, 215, 156);
  }

.dark .uploadPhoto
{
  background-color: #3A3B3C;
  border: 2px dashed wheat;
}

.dark .uploadPhoto:hover
{
  background-color: white;
  color: white
}

.dark .uploadPhoto .text span {
   color: rgb(180, 180, 180);
 
}


