.PostBox222 {
    position: relative;
    left: 400px;
    top: 270px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 270px;
    width: 650px;
    height: auto;
    margin-top: -220px; 
  }
   
.dark .avatar11
{
  border: 2px solid whitesmoke;
}